* {
  box-sizing: border-box;
  margin: 0;
  --mainBlue: #6495ed;
}
body {
  margin: 0 auto;
}
header {
  background-color: rgba(100,149,237,1);
  width: 100%;
}
header h1 {
  color: black;
}
navbar {
  display: flex;
  justify-content: flex-end;
}
navbar h2 {
  margin: 5px;
}
.topImage {
  background-image: url(https://images.pexels.com/photos/1054289/pexels-photo-1054289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.filter {
  background-color: var(--mainBlue);
  opacity: 0.5;
  height: 100%;
  transition: opacity 1s;
}
.filter:hover {
  opacity: 0;
}
content {
  background-image: url(https://i.pinimg.com/originals/e0/f7/de/e0f7dea5fa70fcb23a5df52641a249ec.jpg);
  background-position: center;
  border-top: 15px solid var(--mainBlue);
  display: flex;
  flex-flow: column wrap;
}
.title {
  width: 100%;
}
.section {
  border-left: 5px solid var(--mainBlue);
  padding-left: 15px;
  width: 100%;
}
.cardImage {

}
.cardImage:nth-child(1) {

}
.cardImage:nth-child(2) {

}
.cardImage:nth-child(3) {

}
.cardImage:nth-child(4) {

}
.cardImage:nth-child(5) {

}

footer {
  background-color: rgba(100,149,237,1);
  width: 100%;
}

@media screen and (min-width: 641px) {
  .topImage {
    height: 400px;
  }
  content {
    flex-flow: row wrap;
  }
  .section {
    flex: 3 1 70%;
    margin: 5px;
    width: 70%;
  }
  .title {
    flex: 1 0 20%;
    margin: 5px;
    width: 30%;
  }
}
